<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>690809577487-0ggbdb0tiuvpo3tdjk3g1vjchnhbl629.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.690809577487-0ggbdb0tiuvpo3tdjk3g1vjchnhbl629</string>
	<key>API_KEY</key>
	<string>AIzaSyB4EdnshmhlVbHGfPEyp2oFVT-XFLy_y40</string>
	<key>GCM_SENDER_ID</key>
	<string>690809577487</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.masters.link2golfApp</string>
	<key>PROJECT_ID</key>
	<string>link2golf-app</string>
	<key>STORAGE_BUCKET</key>
	<string>link2golf-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:690809577487:ios:6f625d4e66a184d8</string>
	<key>DATABASE_URL</key>
	<string>https://link2golf-app.firebaseio.com</string>
</dict>
</plist>